*{
    margin: 0;
    padding: 0;
}

.navbar-brand, .footer-brand{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(33, 48, 136);
}

.navbar-brand:hover {
    color: rgb(53, 77, 211);
    cursor: pointer;
}

.nav-link{
    color: black;
    font-size: 20px;
}

.header-btn, .events-btn, .contact-btn {
    padding: 0.7rem;
    margin: 5%;
    background: rgb(33, 48, 136);
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;

}

.header-btn, .events-btn, .contact-btn:hover {
    color: lightgray;
}

.header-picture{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
}


#container-header{
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.input{
    color: white;
    padding: 10px;
    font-size: 18px;
    
}

.field {
    background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-btn {
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-block-end: 20%;
    line-height: 4;
}

.form-btn:hover{
    color: rgb(216, 123, 10);
}

.card{
    border:none;
}

.card-image-overlay{
    color: white;
}

.form-field{
    border: none;
    border-bottom: 1px solid black;
    line-height: 3;
}

footer{
    background: rgb(33, 48, 136);
}

.footer-container{
    border-bottom: 2px solid white;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    color: rgb(139, 133, 133);
}


.footer-brand{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3, a{
    color: white;
    text-decoration: none;
    line-height: 2;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer h3{

    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;

}

.footer-links a{
    font-size: 1rem;
}

.rights{
    color: gray;
}